:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.navbar {
  position: fixed;
  bottom: 0;
  background-color: var(--chakra-colors-brand-Aero);
}

.navbutton {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.5rem;
  min-width: 20%;
  cursor: pointer;
}

.navbutton:hover {
  color: var(--chakra-colors-brand-LightCyan);
}

.navbutton:active {
  transform: scale(0.95);
}

@media only screen and (min-width: 568px) {
  .navbar {
    border-radius: 1.5rem;
    width: 32rem;
    bottom: 1rem;
    max-width: 568px;
  }
}
